// Global
$primary: #25A6DA;
$secondary: #DA2566;

$background: #dcf0ff;
$secondbackground: #FFFFFF;

$success: #00DE3E;
$warning: #EDBA38;
$error: red;

$uiComponent: #FFFFFF;
$uiComponentHighlighted: #FFFFFF;
$border: #E7E7E7;

$headercolor: #282323;
$textcolor: #7B7B7B;

$inputlabelcolor: #787878;
$inputtextcolor: #484848;
