// Global
$primary: #25A6DA;
$secondary: #DA2566;
$background: #F8FDFF;

$success: #00DE3E;
$warning: #EDBA38;
$error: #E0492F;

$uiComponent: #FFFFFF;
$uiComponentHighlighted: #FFFFFF;
$border: #E7E7E7;

$fontColor: #282323;
