.container {
  h1 {
    text-align: left;
    padding-bottom: 14px;
  }

  h1 + p {
    padding-bottom: 75px;
  }

  h1 + form {
    padding-top: 61px;
  }

  .buttons {
    margin-top: 44px;

    display: grid;
    grid-gap: 24px;
    grid-auto-flow: column;
    
    button {
      width: 100%;
    }
  }

  form {
    display: grid;
    grid-gap: 11px;
  }

  min-width: 500px;
  max-width: 800px;
}

@media only screen and (max-width: 805px) {
  .container {
    min-width: 550px !important;
    max-width: 500 !important;
  }
}

@media only screen and (max-width: 505px) {
  .container {
    // make container stretch whole page
    max-width: auto !important;
    min-width: 100vw !important;

    padding-left: 20px;
    padding-right: 20px;

    // move buttons downwards
    .buttons {
      display: block;

      button {
        margin-bottom: 22px;
      }
    }
  }
}
