@import './colors.scss';

.container {
  h1 {
    text-align: left;
    padding-bottom: 24px;
  }

  .buttons {
    margin-top: 21px;

    display: grid;
    grid-gap: 24px;
    grid-auto-flow: column;
    
    button {
      width: 100%;
    }
  }

  form {
    display: grid;
    grid-gap: 11px;
  }

  min-width: 500px;
  max-width: 800px;
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 500;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    // make container stretch whole page
    max-width: auto;
    min-width: 100vw;

    padding-left: 20px;
    padding-right: 20px;

    // move buttons downwards
    .buttons {
      display: block;

      button {
        margin-bottom: 22px;
      }
    }
  }
}
