@import '@/assets/colors';
@import '@/assets/scales';

.container {
  h1 {
    text-align: left;
    padding-bottom: 14px;
  }

  h1 + p {
    padding-bottom: 75px;
  }

  h1 + form {
    padding-top: 61px;
  }

  .buttons {
    margin-top: $gridsize;

    display: flex;
    justify-content: space-between;

    button {
      max-width: 200px;
    }
  }

  form {
    display: grid;
    grid-gap: $gridsize/2;
    grid-template-columns: repeat(2, 1fr);

    .form-group {
      grid-column: 1 / span 2;
    }

    .half-width {
      grid-column: 1;
    }

    .right {
      grid-column: 2;
    }
  }

  #error {
    grid-column: 1 / span 2;
    color: $error;
  }

  max-width: 800px;
  min-width: 800px;
}

@import './form-layout-responsive';
