@import './colors.scss';
@import './scales.scss';

$input-width: 100%;

form {
  padding: 0;
  margin: 0;
}

// remove background from autofill
@-webkit-keyframes autofill {
  0%, 100% {
      background: $uiComponent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.form-group {
    position: relative;

    .field-validation {
      // margin-top: $gridsize/2;
      color: $error;
      padding-top: 4px;
      padding-left: 4px;
      font-size: 12px;
    }

    label {
      position: absolute;
      top: $gridsize /2;
      left: 10px;
      font-weight: normal;
      font-size: $textsize;
      display: inline-block;

      width: calc(100% - 20px);
      white-space: nowrap;
      text-overflow: ellipsis;;
      overflow: hidden;

      text-align: left;
      padding-left: 12px;
      transition: all .5s ease;
      color: $inputlabelcolor;
    }

    select, input {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: none;
    }

    input, select {
      background: $uiComponent;
      border-radius: 8px;
      border: 1px solid $border;
      width: $input-width;

      height: 70px;
      // padding-left: 10px;

      color: $inputtextcolor;
      outline: none;
      font-size: $textsize;

      &:focus {
        background: $uiComponentHighlighted;
        border-color: $primary;
        padding: $gridsize/2 $gridsize/2 0px 21px;
      }

      &:valid, &:disabled {
        padding: $gridsize/2 $gridsize/2 0px 21px;
      }

      &:disabled {
        color: lighten($color: $inputtextcolor, $amount: 10);
        border: 1px solid lighten($color: $border, $amount: 5);
      }

      &:valid + label {
        top: 11px;
        font-size: 12px;
        color: $inputlabelcolor ;
        font-weight: normal;
      }

      &:focus + label {
        top: 11px;
        font-size: 12px;
        color: $primary;
        font-weight: 500;
      }

      &:disabled + label {
        top: 11px;
        font-size: 12px;
        font-weight: normal;
        color: lighten($color: $inputtextcolor, $amount: 30);
      }

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .is-invalid {
      border: 1px solid $error !important;
    }

    textarea {
      background: $uiComponent;
      border-radius: 8px;
      border: 1px solid $border;
      width: $input-width;

      height: 70px;
      // padding-left: 10px;

      color: #000;
      outline: none;
      font-size: $textsize;

      padding-left: 10px;
      color: $inputtextcolor;
      outline: none;
      font-size: $textsize;

      &:focus {
        background: $uiComponentHighlighted;
        border-color: $primary;
        padding: $gridsize/2 $gridsize/2 0px 21px;
      }

      &:valid {
        padding: 34px $gridsize/2 0 21px;
      }

      &:valid + label {
        top: 11px;
        font-size: 12px;
        color: $inputlabelcolor;
        font-weight: normal;
      }

      &:focus + label {
        top: 11px;
        font-size: 12px;
        color: $primary;
        font-weight: 500;
      }
    }

    .error {
      color: $error;
    }

    /* Clicking the label does not activate the input without this */
    input[type="text"] + label {
      pointer-events: none;

      * {
          pointer-events: all;
      }
    }
  }

