// Global
$primary: #25A6DA;
$secondary: #DA2566;
$background: #F8FDFF;

$success: #00DE3E;
$warning: #EDBA38;
$error: #EE0000;

$uiComponent: #00000006;
$uiComponentHighlighted: #00000010;
$border: #00000060;

$h1FontSize: 36px;
$h2FontSize: 24px;
$h3FontSize: 20px;

$buttonFormText: 16px;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background: $background;
}

h1 {
  font-size: $h1FontSize;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: $h2FontSize;
  color: #000;
}

h3 {
  font-size: $h3FontSize;
  color: #000;
}

// TODO: Add hover
button {
  border-radius: 40px;
  width: 100px;
  height: 40px;
  background: $uiComponent;
  font-size: $buttonFormText;
  margin: 30px 0;
  transition: all .5s ease;
  border: none;
  outline: none;

  &:hover {
      background: $uiComponentHighlighted;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
  }
}

.icon {
  width: 24px;
  height: auto;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px !important;
    outline: none;
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, lighten($primary, 10)); // var(--border)
    background: var(--b, #fff) !important;
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: $primary;
      --bc: $primary;
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: lighten($primary, 10);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 $primary;
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid $primary;
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, #fff);
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: #fff;
        --x: 17px;
      }
    }
  }
}

form {
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .form-group {
    position: relative;

    label {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: normal;
      font-size: 15px;
      display: inline-block;
      text-align: left;
      width: 500px;
      padding-left: 12px;
      transition: all .5s ease;
    }

    input {
      background: $uiComponent;
      border-radius: 10px;
      border: 2px solid $border;
      width: 500px;
      height: 50px;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 30px 0;
      padding-left: 10px;
      color: #000;
      outline: none;
      font-size: 14px;
      display: inline-block;

      &:focus {
          background: $uiComponentHighlighted;
          border-color: $primary;
          padding: 10px 0 0 14px;
      }

      &:valid {
        padding: 10px 0 0 14px;
      }

      &:valid + label {
        top: 14%;
        font-size: 9px !important;
        color: #000;
        font-weight: normal;
      }

      &:focus + label {
        top: 14%;
        font-size: 9px !important;
        color: $primary;
        font-weight: bold;
      }

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .error {
      color: $error;
      width: 500px;
      position: relative;
      left: 50%;
      top: -35px;
      transform: translate(-50%, -50%);
    }
  }

  .invalid-login {
    color: $error;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all .3s ease;

  &:hover {
    color: $primary;
  }
}

.profile_img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container {
  padding: 50px;
}

.primary {
  background-color: $primary;
  color: #fff;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

@media only screen and (max-width: 786px) {
  .form-group {
    label {
      width: 90% !important;
    }

    input {
      width: 90% !important;
    }

    .error {
      width: 90% !important;
    }
  }
}
