// Global
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap');

$primary: #25A6DA;
$secondary: #DA2566;
$background: #F8FDFF;

$success: #00DE3E;
$warning: #EDBA38;
$error: #EE0000;

$uiComponent: #00000006;
$uiComponentHighlighted: #00000016;
$border: #00000060;

$h1FontSize: 36px;
$h2FontSize: 24px;
$h3FontSize: 20px;

$buttonFormText: 16px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $h1FontSize;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: $h2FontSize;
    color: #000;
}

h3 {
    font-size: $h3FontSize;
    color: #000;
}

button {
    border-radius: 40px;
    width: 100px;
    height: 40px;
    background: $uiComponent;
    font-size: $buttonFormText;
    margin: 30px;
    transition: all 1s ease;

    &:hover {
        background: $uiComponentHighlighted;
    }
}

input {
    background-color: $uiComponent;
    border-radius: 10px;
    border: 2px solid $border;
    width: 500px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 30px;
    padding-left: 10px;
    color: #000;

    &:active {
        background: $uiComponentHighlighted;
        border-color: $primary;
    }

    &[type=number]::-webkit-inner-spin-button, 
    &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .75s ease;

    &:hover {
        color: $primary;
    }
}

.profile_img {
    object-fit: cover;
    border-radius: 50%;
}

.container {
    padding: 50px;
}

.primary {
    background-color: $primary;
    color: #fff;
}

@media only screen and (max-width: 786px) {

}
