// Global
@import './colors';
@import './scales';
@import './placeholder';

$buttonFormText: 18px;
$input-width: 100%;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background: $background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: $h1FontSize;
  color: $headercolor;
  font-weight: bold;
  line-height: 42px;
}

h2 {
  font-size: $h2FontSize;
  color: $headercolor;
}

h3 {
  font-size: $h3FontSize;
  color: $headercolor;
}

h4 {
  font-size: $textsize;
  color: $headercolor;
  font-weight: 500;
}

ul {
  display: block;
  list-style-type: disc;
  margin: 0;
  padding: 0 20px;
  text-align: left;
}

li {
  padding-bottom: $gridsize / 4;

  ul {
    padding-top: $gridsize / 4;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

p {
  font-size: $textsize;
  line-height: $textsize*1.5;
  color: $textcolor;
}

button {
  border-radius: 90px;

  min-width: 200px;
  height: 50px;

  background: $uiComponent;
  font-size: $buttonFormText;
  font-weight: 500;

  transition: all .5s ease;
  border: none;
  outline: none;

  cursor: pointer;
}

a {
  font-size: $textsize;
  font-weight: 500;
  text-decoration: none;
  color: $primary;
  transition: all .3s ease;
  cursor: pointer;

  &:hover {
    color: darken($primary, 10%);
  }
}

.primary {
  background-color: $primary !important;
  color: #fff !important;
}

.secondary {
  background-color: transparent !important;
  border: 1px solid $primary !important;
  color: $primary !important;
}

.third {
  background-color: white !important;
  border: 1px solid $border !important;
  color: #484848 !important;
}

.cta {
  background-color: $secondary !important;
  border: 1px solid $secondary !important;
  color: #ffffff !important;
}

.manual-hyphens {
  @extend %text-hyphens;
}

@media (hover: hover) {
  .primary {
    &:hover {
      background-color: darken($primary, 10%) !important;
    }
  }

  .secondary {
    &:hover {
      color: #ffffff !important;
      background-color: darken($primary, 10%) !important;
    }
  }

  .third {
    &:hover {
      color: #ffffff !important;
      border: 1px solid darken($primary, 10%) !important;
      background-color: darken($primary, 10%) !important;
    }
  }

  .cta {
    &:hover {
      border: 1px solid darken($secondary, 10%) !important;
      background-color: darken($secondary, 10%) !important;
    }
  }
}

.profile_img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@import './form';
@import './swal';
