$h1FontSize: 36px;
$h2FontSize: 24px;
$h3FontSize: 20px;
$textsize: 18px;

$firstbreak: 800;
$secondbreak: 500;

$gridsize: 48px;
$basic-spacing: 15px;

$pageHeaderHeight: 120px;
$pageHeaderHeightWithPadding: 148px;

// $marginTop: 50px;
$pageMarginBottom: $gridsize * 3;

$pageMarginMin: $gridsize / 2;

// compare plugin mq.ts
// mq always uses -1px, therefore we do that too
$breakpoint_sm: 767px;
$breakpoint_md: 1023px;
$breakpoint_vl: 1279px;
