html,
body {
    margin: 0;
    background: #F8FDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #817D7D;
}

.frame {
    /* margin: 50px; */
    text-align: center;
    width: 100%;
}

.frame .logo {
    height: 37px;
    width: 500px;

    background-image: url("data:image/svg+xml,%3Csvg id='Ebene_1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 643.17 99.59'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23db2567;%7D.cls-2%7Bfill:%2326a6db;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3ELogo_JOWOMO_einzeln_200417%3C/title%3E%3Cpath class='cls-1' d='M692.21,247.23A49.8,49.8,0,1,0,742,297,49.8,49.8,0,0,0,692.21,247.23Zm0,78A28.24,28.24,0,1,1,720.44,297,28.24,28.24,0,0,1,692.21,325.27Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-2' d='M230.56,247.23a49.8,49.8,0,1,0,49.8,49.8A49.8,49.8,0,0,0,230.56,247.23Zm0,78A28.24,28.24,0,1,1,258.8,297,28.24,28.24,0,0,1,230.56,325.27Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-2' d='M98.83,332l13.6-15.14c5.59,6.18,11.07,9.81,17.93,9.81,8.12,0,13.16-4.91,13.16-16.25V247.23h22.13v64.15c0,11.64-3.35,20.31-9.24,26.19-6,6-14.85,9.11-25.5,9.11C115.65,346.68,105.56,340,98.83,332Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-1' d='M526.48,247.23h23.61l26.18,42.11,26.18-42.11h23.61v99.59H604.31v-65l-28,42.54h-.58L548,282.22v64.6H526.48Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-2' d='M395.06,346.82H371.45l-26.18-42.1-26.19,42.1H295.47V247.23h21.76v65l28-42.54h.58l27.73,42.12v-64.6h21.48Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-2' d='M435,308.56a28.24,28.24,0,0,1,37.31-37.31l15.84-15.83a49.81,49.81,0,0,0-69,69Z' transform='translate(-98.83 -247.23)'/%3E%3Cpath class='cls-1' d='M487.1,286.83a28.24,28.24,0,0,1-36.53,36.53l-16,16a49.79,49.79,0,0,0,68.54-68.54Z' transform='translate(-98.83 -247.23)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: center;
    box-sizing: border-box;
    margin-bottom: 19px;
    margin-top: 19px;
}

.template-top {
    background: white;
    padding: 20px;
}

.template a {
    font-weight: normal;
    color: #25A6DA;
    text-decoration: none;
}

.template a:visited {
    font-weight: normal;
    color: #25A6DA;
    text-decoration: none;
}

.template .image {
    display: none;
    width: 130px;
    height: 130px;

    background: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-sizing: border-box;

    border-radius: 50%;
    padding-top: 58px;
}

.template h1 {
    font-size: 36px;
    padding-top: 36px;
    color: #282323;
    line-height: 42px;
    
    margin: 0;
    margin-bottom: 0;
    margin-bottom: 0;
}

.template p {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.terms {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.output {}
